body {
  margin: 0;
  background: #f4f1ea;
  font-family: "Georgia", serif;
  font-family: "Patrick Hand", cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: row; /* IMPORTANT */
  align-items: center;
  gap: 40px;
}

.book {
  position: relative;
  width: min(95vw, 1100px);
  aspect-ratio: 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 2500px;
}

/* tranche du carnet */
.spine {
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background: #b5a27a;
  transform: translateX(-50%);
}

.page-content h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.page-content p {
  margin-bottom: 16px;
}

.nav-btn {
  padding: 14px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: #7b5e3b;
  color: white;
  cursor: pointer;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn:hover {
  background: #5f472d;
  transform: scale(1.1);
}

.nav-btn:disabled {
  opacity: 0.3;
  cursor: default;
  transform: none;
}

.sommaire h1 {
  margin-bottom: 30px;
}

/* liste */
.sommaire-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* ligne */
.sommaire-list li {
  cursor: pointer;
  font-size: 20px;
  padding: 6px 0;
  border-bottom: 1px dotted #c9b79c;
  transition: all 0.2s ease;
}

/* hover */
.sommaire-list li:hover {
  color: #7b5e3b;
  transform: translateX(6px);
}

/* ============================= */
/* PAGE SOMMAIRE AVEC BULLES */
/* ============================= */
.page.page-sommaire-bulles {
  width: 42%;
}

.sommaire-bulles {
  position: relative;
  height: 100%;
}

/* lignes */
.bubble-row {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* positions */
.bubble-0 { top: 80px; }
.bubble-1 { top: 200px; }
.bubble-2 { top: 320px; }
.bubble-3 { top: 440px; }

.bubble-row{
  justify-content: space-between;
}

.bubble-row{
  justify-content: flex-end;
  gap: 20px;
}

/* texte */
.bubble-label {
  font-size: 20px;
}

/* bulle */
.bubble {
  background: #fffdf7;
  border: 2px solid #5f472d;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: relative;
  z-index: 1; /* au-dessus du fond */
}


